* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rampart One", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}


.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1em;
  h1 {
    .ha1 {
      animation: headingAnim 4s linear infinite;
    }
    .ha2 {
      animation: headingAnim 4s linear -0.5s infinite;
    }
    .ha3 {
      animation: headingAnim 4s linear -1s infinite;
    }
    .ha4 {
      animation: headingAnim 4s linear -1.5s infinite;
    }
    .ha5 {
      animation: headingAnim 4s linear -2s infinite;
    }
    .ha6 {
      animation: headingAnim 4s linear -2.5s infinite;
    }
    .ha7 {
      animation: headingAnim 4s linear -3s infinite;
    }
    .ha8 {
      animation: headingAnim 4s linear -3.5s infinite;
    }
    .ha9 {
      animation: headingAnim 4s linear -4s infinite;
    }
  }
}

.gameboard {
  height: 500px;
  width: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  position: relative;
  .gamesquare {
    width: 500/3px;
    height: 500/3px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-family: "Rampart One", sans-serif;
    cursor: pointer;
    p {
      width: 3em;
      height: 3em;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0;
    }
  }
}
.start-game-pop-up {
    position: absolute;
    transition: all 0.3s ease;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color:rgba(255, 255, 255, 0.945) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    .start {
        font-size: 3em;
        padding-bottom: 1em;
        animation: headingAnim 10s linear infinite;
    }
    input {
        width: 300px;
        line-height: 20px;
    }
    label {
        font-size: 1.5em;
    }
    .selectors {
        display: flex;
        justify-content: space-between;
        font-size: 3em;
        .x-btn, .o-btn{
            padding: 0em 1em;
            cursor: pointer;
            transition: all 0.2s ease;
            &:hover {
                transform: scale(1.2);
            }
        }
    }
    p {
        font-size: 1.5em;
    }
    .start-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2em;
        font-size: 2em;
        cursor: pointer;
        transition: all 0.2s ease;
        i {
            animation: headingAnim 10s linear infinite;
        }
        &:hover {
            transform: scale(1.2);
        }
    }
}
.pop-up-not-active{
    left: -100%;
    transform: scale(0);
}
.active-selector {
    color: green;
}
.end-game-pop-up {
  position: absolute;
  transition: all 0.5s ease;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: -100%;
  background-color: rgba(255, 255, 255, 0.856);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: scale(0);
}
.pop-up-active {
  transform: scale(1);
  top: 0;
  left: 0;
  h2 {
    font-size: 3em;
    padding-bottom: 2em;
    color: hotpink;
  }
  .reset-btn {
    padding: 1em 2em;
    cursor: pointer;
    border-radius: 15px;
    background-color: black;
    font-size: 2em;
    color: white;
    transition: all 0.3s ease;
    &:hover {
      transform: scale(1.2);
      background-color: hotpink;
    }
  }
}
.winner {
  color: green;
  animation: winning 2s forwards;
}
@keyframes winning {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.5);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.5);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
@keyframes headingAnim {
  0% {
    color: red;
  }
  10% {
    color: hotpink;
  }
  20% {
    color: coral;
  }
  30% {
    color: orange;
  }
  40% {
    color: rgb(228, 214, 18);
  }
  50% {
    color: lime;
  }
  60% {
    color: turquoise;
  }
  70% {
    color: rgb(0, 132, 255);
  }
  80% {
    color: rgb(81, 0, 128);
  }
  90% {
    color: rgb(128, 0, 107);
  }
  100% {
    color: red;
  }
}
@keyframes popUp {
  0% {
    color: hotpink;
  }
  25% {
    color: coral;
  }
  50% {
    color: orange;
  }
  75% {
    color: coral;
  }
  100% {
    color: hotpink;
  }
}
