*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.gameboard {
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    position: relative;
    .gamesquare {
        width: 100%;
        height: 100%;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3em;
        font-family: 'Rampart One', sans-serif;
        cursor: pointer;
        p {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
    }
}

.end-game-pop-up {
    position: absolute;
    transition: all 0.5s ease;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: -100%;
    background-color: rgba(0, 0, 0, 0.733);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: scale(0);
}
.pop-up-active {
    transform: scale(1);
    top: 0;
    left:0;
    .reset-btn {
        padding: 1em 2em;
        border: 1px solid black;
        cursor: pointer;
        border-radius: 15px;
        background-color: white;
        font-size: 2em;
    }
}
.winner {
    color: green;
    animation: winning 2s forwards;
}
@keyframes winning {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1.5);
    }
    40% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.5);
    }
    80% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}