* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Rampart One", sans-serif;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1em;
}

.heading h1 .ha1 {
  -webkit-animation: headingAnim 4s linear infinite;
          animation: headingAnim 4s linear infinite;
}

.heading h1 .ha2 {
  -webkit-animation: headingAnim 4s linear -0.5s infinite;
          animation: headingAnim 4s linear -0.5s infinite;
}

.heading h1 .ha3 {
  -webkit-animation: headingAnim 4s linear -1s infinite;
          animation: headingAnim 4s linear -1s infinite;
}

.heading h1 .ha4 {
  -webkit-animation: headingAnim 4s linear -1.5s infinite;
          animation: headingAnim 4s linear -1.5s infinite;
}

.heading h1 .ha5 {
  -webkit-animation: headingAnim 4s linear -2s infinite;
          animation: headingAnim 4s linear -2s infinite;
}

.heading h1 .ha6 {
  -webkit-animation: headingAnim 4s linear -2.5s infinite;
          animation: headingAnim 4s linear -2.5s infinite;
}

.heading h1 .ha7 {
  -webkit-animation: headingAnim 4s linear -3s infinite;
          animation: headingAnim 4s linear -3s infinite;
}

.heading h1 .ha8 {
  -webkit-animation: headingAnim 4s linear -3.5s infinite;
          animation: headingAnim 4s linear -3.5s infinite;
}

.heading h1 .ha9 {
  -webkit-animation: headingAnim 4s linear -4s infinite;
          animation: headingAnim 4s linear -4s infinite;
}

.gameboard {
  height: 500px;
  width: 500px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  position: relative;
}

.gameboard .gamesquare {
  width: 500/3px;
  height: 500/3px;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3em;
  font-family: "Rampart One", sans-serif;
  cursor: pointer;
}

.gameboard .gamesquare p {
  width: 3em;
  height: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
}

.start-game-pop-up {
  position: absolute;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.945);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  transition: all 0.3s ease;
}

.start-game-pop-up .start {
  font-size: 3em;
  padding-bottom: 1em;
  -webkit-animation: headingAnim 10s linear infinite;
          animation: headingAnim 10s linear infinite;
}

.start-game-pop-up input {
  width: 300px;
  line-height: 20px;
}

.start-game-pop-up label {
  font-size: 1.5em;
}

.start-game-pop-up .selectors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 3em;
}

.start-game-pop-up .selectors .x-btn, .start-game-pop-up .selectors .o-btn {
  padding: 0em 1em;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.start-game-pop-up .selectors .x-btn:hover, .start-game-pop-up .selectors .o-btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.start-game-pop-up p {
  font-size: 1.5em;
}

.start-game-pop-up .start-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2em;
  font-size: 2em;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.start-game-pop-up .start-btn i {
  -webkit-animation: headingAnim 10s linear infinite;
          animation: headingAnim 10s linear infinite;
}

.start-game-pop-up .start-btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.pop-up-not-active {
  left: -100%;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.active-selector {
  color: green;
}

.end-game-pop-up {
  position: absolute;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: -100%;
  background-color: rgba(255, 255, 255, 0.856);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.pop-up-active {
  -webkit-transform: scale(1);
          transform: scale(1);
  top: 0;
  left: 0;
}

.pop-up-active h2 {
  font-size: 3em;
  padding-bottom: 2em;
  color: hotpink;
}

.pop-up-active .reset-btn {
  padding: 1em 2em;
  cursor: pointer;
  border-radius: 15px;
  background-color: black;
  font-size: 2em;
  color: white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.pop-up-active .reset-btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-color: hotpink;
}

.winner {
  color: green;
  -webkit-animation: winning 2s forwards;
          animation: winning 2s forwards;
}

@-webkit-keyframes winning {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  60% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  80% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes winning {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  60% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  80% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@-webkit-keyframes headingAnim {
  0% {
    color: red;
  }
  10% {
    color: hotpink;
  }
  20% {
    color: coral;
  }
  30% {
    color: orange;
  }
  40% {
    color: #e4d612;
  }
  50% {
    color: lime;
  }
  60% {
    color: turquoise;
  }
  70% {
    color: #0084ff;
  }
  80% {
    color: #510080;
  }
  90% {
    color: #80006b;
  }
  100% {
    color: red;
  }
}

@keyframes headingAnim {
  0% {
    color: red;
  }
  10% {
    color: hotpink;
  }
  20% {
    color: coral;
  }
  30% {
    color: orange;
  }
  40% {
    color: #e4d612;
  }
  50% {
    color: lime;
  }
  60% {
    color: turquoise;
  }
  70% {
    color: #0084ff;
  }
  80% {
    color: #510080;
  }
  90% {
    color: #80006b;
  }
  100% {
    color: red;
  }
}

@-webkit-keyframes popUp {
  0% {
    color: hotpink;
  }
  25% {
    color: coral;
  }
  50% {
    color: orange;
  }
  75% {
    color: coral;
  }
  100% {
    color: hotpink;
  }
}

@keyframes popUp {
  0% {
    color: hotpink;
  }
  25% {
    color: coral;
  }
  50% {
    color: orange;
  }
  75% {
    color: coral;
  }
  100% {
    color: hotpink;
  }
}
/*# sourceMappingURL=style.css.map */